body {
  background-color: #F5F5F5;
  padding-top: 70px;}

form {
	padding: 20px; }

.navbar {
	background-color: #364545;
	border-color: transparent;
  color: #fff;}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand {
	color: #fff; }

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-brand:hover {
	color: #ccc; }

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
	color: #ccc;
  background-color: transparent; }

.navbar-toggle {
	border: none;
  margin-bottom: auto;}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #fff; }

.btn {
	border-radius: 0px;
  margin-bottom: 10px }

.form-control {
	border-radius: 0px; }

.inner {
  margin:0px !important;}

/*lostPsw.php*/
#lostEmail {
  margin-bottom: 10px; }

/*firstLogin.php*/
#formPsw #formPswGroup {
 margin-left: 0px;
 margin-right: 0px;}

/*navbar.php*/
#btnNavbar {
  font-size: medium; }
